
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
logs/
news_archive.jsonl
redis_keywords_backup.json
.DS_Store
.idea/
.vscode/
.git/
.gitignore
.venv
venv
ENV
.pytest_cache
.coverage
htmlcov
Thumbs.db
# Ignore the models folder if it's mounted at runtime anyway
E/models
.env
env/
*.md
tests/
.pytest_cache/
.mypy_cache/
.dockerignore
Dockerfile